<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>tmkeshihua</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AsyncComplete</servlet-name>
    <servlet-class>web.controller.AsyncCompleteServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsyncComplete</servlet-name>
    <url-pattern>/asyncComplete</url-pattern>
  </servlet-mapping>
	<servlet>
	    <servlet-name>BarServlet</servlet-name>
	    <servlet-class>web.controller.BarServlet</servlet-class>
	 </servlet>
	<servlet-mapping>
	    <servlet-name>BarServlet</servlet-name>
	    <url-pattern>/bar.do</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>RepurchaserateServlet</servlet-name>
	    <servlet-class>web.controller.RepurchaserateServlet</servlet-class>
	 </servlet>
	<servlet-mapping>
	    <servlet-name>RepurchaserateServlet</servlet-name>
	    <url-pattern>/repurchaserate.do</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>Jhsprice_numberServlet</servlet-name>
	    <servlet-class>web.controller.Jhsprice_numberServlet</servlet-class>
	 </servlet>
	<servlet-mapping>
	    <servlet-name>Jhsprice_numberServlet</servlet-name>
	    <url-pattern>/jhspricenumber.do</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>CommoditydetailServlet</servlet-name>
	    <servlet-class>web.controller.CommoditydetailServlet</servlet-class>
	 </servlet>
	<servlet-mapping>
	    <servlet-name>CommoditydetailServlet</servlet-name>
	    <url-pattern>/commoditydetail.do</url-pattern>
	</servlet-mapping>
</web-app>